@mixin itemLink {
    color: var(--first-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

@mixin colorSpan{
    color: var(--sixth-color);
}

@mixin titleMain{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

@mixin titleBlock{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin descr{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}


@mixin link{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin titleSection{
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@mixin orderDescr{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

@mixin itemDescr{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 


// border: 2px solid transparent;

// &__btn:hover {
//     border: 2px solid var(--third-color);
//     color: var(--first-color);
//     background-color: var(--third-color);
// }

// &__btn:focus-visible {
//     border: 2px solid var(--third-color);
//     color: var(--first-color);
//     background-color: var(--third-color);
// }

// &__btn:active {
//     border: 2px solid var(--third-color);
//     color: var(--first-color);
//     background-color: var(--fourth-color);
// }

// .catolog__list{
//     position: absolute;
//     display: none;
//     flex-direction: column;
//     padding: 40px;
//     top: 55px;
//     height: 200px;
//     background-color: rgba(0, 0, 0, 0.5);  
//     overflow-y: scroll;
// }

// ::-webkit-scrollbar{
//     width: 4px; 
// }

// ::-webkit-scrollbar-track{
//     background: var(--second-color);
// }

// ::-webkit-scrollbar-thumb{
//     height: 15px;
//     background:#FFFFFF;
//     border: 0.5px solid var(--second-color);
//     border-radius: 0.5px;
// }

